.video-page {
    display: center;
    padding-top: 50px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
  }
  
  .relatedvideos {
    display: grid;
    align-items: baseline;
    width: 450px;
  }
 
 